.clicked{
    border: 1px solid var(--bgButton);
}
.checkbox-password{
    margin-right: 5px;
}
.checkbox-wrapper{
    margin-top: 10px;
}
.checkbox-password-real{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.checkbox-password-real:checked + .custom-checkbox::before{
    transform: translate(-50%,-50%) scale(1);
}
.custom-checkbox{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--checkboxBg);
    border: 1px solid var(--brown);
    border-radius: 4px;
    margin-right: 16px;
    vertical-align: sub;
}
.custom-checkbox::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url('../../assets/svg/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.2s ease-in;
    margin-top: 1px;

}
