
.form{
    border: 1px solid var(--borderForm);
    border-radius: 4px;
    padding: 14px 0 14px 20px;
    width: 100%;
}
.form__inner{
    margin-top: 50px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}
