
.form{
    border: 1px solid var(--borderForm);
    border-radius: 4px;
    padding: 14px 0 14px 20px;
    width: 100%;
}
.form__inner{
    margin-top: 50px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}
.clicked{
    border: 1px solid var(--bgButton);
}
.checkbox-password{
    margin-right: 5px;
}
.form__button{
    margin-top: 50px;
    border-radius: 4px;
    padding: 14px 50px;
    color: var(--whiteColor);
    background-color:var(--bgButton);
}
.checkbox-password-real{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.checkbox-password-real:checked + .custom-checkbox::before{
    transform: translate(-50%,-50%) scale(1);
}
.custom-checkbox{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #242424;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    margin-right: 16px;
    vertical-align: sub;
}
.custom-checkbox::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url('../../assets/svg/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.2s ease-in;
    margin-top: 1px;

}
input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}
.password__wrapper{
    position: relative;
}
.showHide_password{
    position: absolute;
    top: 33%;
    right: 39px;
}