.footer{
    margin-top: 50px;
}
.footer__inner{
    border-top: 2px solid var(--brown);
    padding-top: 30px;
    display: flex;
}
.footer__text-link{
    margin-left: 5px;
    display: flex;
    gap: 5px;
    color: var(--bgButton);
    margin-right: 5px;

}
